$primaryColor: #d80a01;
$whiteColor: #fff;
$lightPrimaryColor: rgba(111, 15, 8, 0.3);
$greyColor: #ddd;
$lightWhite: rgba(255, 255, 255, 0.3);
$ashWhite: #f1f1f1;
$grayColor: #757575;
$lightRed: rgba(253, 23, 9, 0.5);

$linkFontSize: 11px;
