@use "../../styles" as *;

.layout-footer {
  background-color: $whiteColor;
  display: flex;
  padding: 20px 0;
  justify-content: center;

  .helpSection {
    position: fixed;
    bottom: 0;
    left: 80px;
    width: 170px;
    border-radius: 5px 5px 0 0;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primaryColor;
    color: $whiteColor;
    font-size: 13px;
    font-weight: 600;

    .icon {
      margin-right: 5px;
    }
  }

  .liveChat {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    background-color: $primaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% 10px 50% 50%;

    .liveChatContainer {
      width: 40%;
      height: 30%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 5px;
      background-color: $whiteColor;
      justify-content: center;
      border-radius: 5px 5px 5px 0;
    }

    .child1 {
      width: 80%;
      height: 2px;
      margin-bottom: 5px;
      background-color: $primaryColor;
    }

    .child2 {
      width: 50%;
      height: 2px;
      background-color: $primaryColor;
    }
  }

  .footerContainer {
    width: 90%;
    max-width: 1250px;
  }

  .footerContainer--child1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 30px 0;

    .footerLinks--div {
      width: 20%;
    }

    .footerLinks--div:not(:nth-child(5)) {
      @include mQ(1100px) {
        width: 17%;
      }

      @include mQ(767px) {
        width: 50%;
      }
    }

    .footerLinks--div:nth-child(5) {
      @include mQ(1100px) {
        width: 32%;
      }

      @include mQ(767px) {
        width: 80%;
      }
    }

    h5 {
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 25px;

      @include mQ(767px) {
        font-size: 20px;
        text-align: center;
      }
    }

    select {
      border: 1px solid $grayColor;
      padding: 8px;
      color: $grayColor;

      @include mQ(1000px) {
        width: 100px;
      }
    }

    li {
      margin-bottom: 15px;
    }

    a {
      text-decoration: none;
      color: $grayColor;
      font-size: 12px;
      transition: 0.3s;

      &:hover {
        color: $primaryColor;
      }
    }

    p {
      font-size: 12px;
      margin-bottom: 10px;
    }

    form {
      display: flex;
      margin-bottom: 10px;
    }

    input {
      border: 1px solid black;
      outline: none;
      padding: 10px;
      font-size: 16px;
      width: 70%;
      border-radius: 5px 0 0 5px;
    }

    button[type] {
      color: $whiteColor;
      border: none;
      width: 30%;
      outline: none;
      border-radius: 0 5px 5px 0;
      padding: 10px;
      background-color: $primaryColor;
    }

    .newsletter > span {
      font-size: 10px;
      margin-bottom: 20px;
    }

    .btn-div {
      display: flex;
      margin: 10px 0;
      justify-content: space-between;

      @include mQ(767px) {
        justify-content: center;
      }
    }

    .btn-div button {
      border: 1px solid black;
      border-radius: 5px;
      background-color: $whiteColor;
      display: flex;
      padding: 8px;
      justify-content: space-between;
      transition: 0.3s;

      @include mQ(767px) {
        margin-right: 20px;
      }

      &:hover {
        background-color: $greyColor;
      }
    }

    .btnIcon-div {
      display: flex;

      align-items: flex-end;
      height: 100%;

      .icon {
        font-size: 22px;
      }
    }

    .btn-content {
      display: flex;
      flex-direction: column;
      width: 80%;

      span:nth-child(1) {
        font-size: 8px;
      }

      span:nth-child(2) {
        font-size: 12px;
      }
    }

    .footer-socials {
      display: flex;
      justify-content: space-between;

      @include mQ(767px) {
        justify-content: flex-start;
      }

      .icon-div {
        width: 40px;
        height: 40px;
        border: 1px solid $grayColor;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: $ashWhite;
        transition: 0.3s;

        @include mQ(767px) {
          margin-right: 20px;
        }

        &:hover {
          background-color: $primaryColor;
          border: 1px solid $primaryColor;
        }

        &:hover .icon {
          color: $whiteColor;
        }
      }

      .icon {
        color: $grayColor;
      }
    }
  }

  .footerContainer--child2 {
    display: flex;
    padding: 30px 0;
    border-top: 1px solid $greyColor;
    justify-content: space-between;
    align-items: center;

    @include mQ(767px) {
      flex-direction: column;

      .copyright {
        margin-bottom: 20px;
      }
    }

    p {
      font-size: 14px;
      color: $grayColor;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 35%;
      flex-wrap: wrap;

      @include mQ(767px) {
        width: 100%;

        li:nth-child(4) {
          width: 100%;
          text-align: center;
          margin-top: 10px;
        }
      }

      a {
        text-decoration: none;
        color: $grayColor;
        font-size: 13px;
        transition: 0.3s;

        &:hover {
          color: $primaryColor;
        }
      }
    }
  }
}
